@model AccountingSystem.Models.Check

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити чек</h1>

<h3>Ви впевнені, що хочете видалити цей чек?</h3>
<div class="delete-container">
    <h4>Чек</h4>
    <hr />
    <dl class="details-list">
        <dt class="details-label">
            ID
        </dt>
        <dd class="details-value">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="details-label">
            Дата
        </dt>
        <dd class="details-value">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="details-label">
            Сума
        </dt>
        <dd class="details-value">
            @Html.DisplayFor(model => model.Sum)
        </dd>
        <dt class="details-label">
            Виручка
        </dt>
        <dd class="details-value">
            @Html.DisplayFor(model => model.Profit)
        </dd>
    </dl>

    <form asp-action="Delete" class="delete-form">
        <input type="submit" value="Видалити" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Повернутись</a>
    </form>
</div>
