@model AccountingSystem.Models.Supplier
@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити постачальника</h1>

<h3>Ви впевнені, що хочете видалити цього постачальника?</h3>
<div class="delete-container">
    <hr />
    <dl class="details-list">
        <dt class="details-label">
            Назва
        </dt>
        <dd class="details-value">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="details-label">
            Адреса
        </dt>
        <dd class="details-value">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="details-label">
            Номер телефону
        </dt>
        <dd class="details-value">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
    </dl>

    <form asp-action="Delete" class="delete-form">
        <input type="submit" value="Видалити" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Повернутись</a>
    </form>
</div>
