html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.total_container{
    display:flex;
    flex-direction:row;
    flex:1 1;
}
.total_item {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
    margin: 0px 30px 0px 30px;
    border-radius: 16px;
    box-shadow: 2px 2px 20px -1px rgba(153,144,153,1);
}
.total_item_heading {
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align:center;
}
.total_item_count {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}


.plus_item_btn {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

    .plus_item_btn:focus:not(:focus-visible):not(.focus-visible) {
        box-shadow: none;
        outline: none;
    }

    .plus_item_btn:hover {
        background-color: #2c974b;
    }

    .plus_item_btn:focus {
        box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
        outline: none;
    }

    .plus_item_btn:disabled {
        background-color: #94d3a2;
        border-color: rgba(27, 31, 35, .1);
        color: rgba(255, 255, 255, .8);
        cursor: default;
    }

    .plus_item_btn:active {
        background-color: #298e46;
        box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
    }

.plus_item_btn img{
    margin: 0px 10px 0px 0px;
}


.form_row{
    display:flex;
    flex-direction:column;
}
.row{
    justify-content:center;
}
.input_group {
    display: flex;
    justify-content: space-between;
}


.select_item_to_sell{
    width:60%;
}
.option_select p{
    margin:0px 20px 0px 20px;
}
.price_row {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction:column;
}
.element_row{
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
}
.col-sm-2{
    width:30%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }



/* Загальні стилі для таблиці */
.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-family: Arial, sans-serif;
}

    /* Стилі для заголовків таблиці */
    .table th {
        background-color: #f2f2f2;
        color: #333;
        border-bottom: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    /* Стилі для рядків таблиці */
    .table td {
        border-bottom: 1px solid #ddd;
        padding: 8px;
    }

    /* Стилі для непарних рядків таблиці */
    .table tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    /* Стилі для посилань в таблиці */
    .table a {
        text-decoration: none;
        color: #007bff;
    }

    /* Стилі для кнопок в таблиці */
    .table button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    /* Стилі для зображень в таблиці */
    .table img {
        max-width: 100px;
        max-height: 100px;
    }

/* Стилі для фільтрів та інших елементів у верхній частині таблиці */
.filters {
    margin-bottom: 10px;
}

    /* Стилі для вибраного фільтру */
    .filters select {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #fff;
    }

    /* Стилі для кнопок у верхній частині таблиці */
    .filters button {
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #007bff;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }

        /* Стилі для кнопок при наведенні */
        .filters button:hover {
            background-color: #0056b3;
        }



/* Стилі для контейнера меню пошуку */
.search-menu {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Стилі для поля введення тексту пошуку */
.search-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

/* Стилі для кнопки пошуку */
.search-button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Стилі для випадаючого списку категорій */
.category-dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

    /* Стилі для випадаючого списку категорій при наведенні */
    .category-dropdown:hover {
        background-color: #f9f9f9;
    }

    /* Стилі для випадаючого списку категорій */
    .category-dropdown select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 5px;
        background: transparent;
        border: none;
        width: 100%;
        cursor: pointer;
    }

    /* Стилі для стрілки випадаючого списку категорій */
    .category-dropdown::after {
        content: '\25BC';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
    }