@model AccountingSystem.Models.Notification
@{
    ViewData["Title"] = "Delete Notification";
}

<h1>Видалити Повідомлення</h1>

<div class="delete-notification-container">
    <h3>Ви впевнені, що хочете видалити це повідомлення?</h3>
    <hr />
    <dl class="details-list">
        <dt class="details-label">Назва події</dt>
        <dd class="details-value">@Model.EventName</dd>
        <dt class="details-label">Дата події</dt>
        <dd class="details-value">@Model.EventDate.ToShortDateString()</dd>
        <dt class="details-label">Категорії</dt>
        <dd class="details-value">@string.Join(", ", Model.Categories)</dd>
        <dt class="details-label">Повідомлення</dt>
        <dd class="details-value">@Model.Message</dd>
    </dl>

    <form asp-action="Delete" class="delete-form">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Видалити" class="btn btn-danger" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Повернутись</a>
</div>
