@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AccountingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AccountingSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Items" asp-action="Index">EasyPAS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-nav-bar">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="Index">Інвентар</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Checks" asp-action="Index">Продажі</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Supplier" asp-action="Index">Постачальники</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Supply" asp-action="Index">Постачання</a>
                        </li>
                        
                        @if (User.Identity.GetUserId() == "google-oauth2|105690006189469913035")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Notification" asp-action="Index">Сповіщення</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Trend" asp-action="Index">Тренди</a>
                        </li>
                    </ul>

                    <div class="account_div">
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Вийти</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Авторизуватись</a>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="notificationsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Сповіщення <span class="badge badge-pill badge-danger notification_count" id="notificationCount"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationsDropdown">
                                    <div id="notificationsContainer">
                                        <p class="dropdown-item">Завантаження...</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - AccountingSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetNotifications", "Notification")',
                method: 'GET',
                success: function (data) {
                    var container = $('#notificationsContainer');
                    container.empty();
                    if (data.length > 0) {
                        data.forEach(function (notification) {
                            var item = $('<a class="dropdown-item"></a>').attr('href', '/Notification/Details/' + notification.id).text(notification.message);
                            container.append(item);
                        });
                    } else {
                        container.append($('<p class="dropdown-item"></p>').text('Немає нових сповіщень'));
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });

            $.ajax({
                url: '@Url.Action("GetNotificationCount", "Notification")',
                method: 'GET',
                success: function (data) {
                    $('#notificationCount').text(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
